@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*{
    text-align:center;
    font-family: 'Hina Mincho', serif;
    
}
body {
    background-color: rgb(160, 160, 160);
    font-size: 30px;
  }

  p {
    color: rgb(0, 102, 204);
  }